name: vtech_todo
description: VTech coding challenge - Todo list (Provider + optional Supabase realtime)
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.2
  flutter_dotenv: ^5.1.0
  uuid: ^4.5.1
  supabase_flutter: ^2.8.2
  collection: ^1.18.0
  shared_preferences: ^2.2.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  assets:
    - .env